<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>topics</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>2</integer>
			<key>subTitle</key>
			<string>通信新品介绍</string>
			<key>title</key>
			<string>新品</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>2</integer>
			<key>subTitle</key>
			<string>test</string>
			<key>title</key>
			<string>导购</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>0</integer>
			<key>subTitle</key>
			<string></string>
			<key>title</key>
			<string>评测</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>0</integer>
			<key>subTitle</key>
			<string></string>
			<key>title</key>
			<string>行情</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>0</integer>
			<key>subTitle</key>
			<string></string>
			<key>title</key>
			<string>今日最新</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>0</integer>
			<key>subTitle</key>
			<string>运营商</string>
			<key>title</key>
			<string>运营商</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>source</key>
			<string>雅虎通信</string>
			<key>status</key>
			<integer>0</integer>
			<key>subTitle</key>
			<string>雅虎通信</string>
			<key>title</key>
			<string>设备商</string>
		</dict>
	</array>
</dict>
</plist>
